node_modules
/.idea
*.js
*.map
*.ttf
*.otf
*.pfx
*.pdf
*.txt
*.csv
*.mov
*.png
*.svg
*.zip
*.emf
*.rtf
*.exe
*.mp4
*.gly
/xcode
/build
/pkg/windows-store/AppPackages
/pkg/windows-store/BundleArtifacts
/pkg/windows-store/bin
/pkg/windows-store/obj
/pkg/windows-store/Package.appxmanifest
/pkg/windows-store/Package.wapproj
/pkg/windows-store/Package.wapproj.user
/pkg/windows-store/Package.assets.cache
