html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
}

body * {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

@font-face {
  font-family: "Egyptian Text Proto";
  src: url("../font/eot.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

.hieroglyphs {
  font-family: "Egyptian Text Proto", sans-serif;
  font-style: normal;
}
