html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
}

body * {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  user-select: none;
}

@font-face {
  font-family: "Egyptian Text Proto";
  src: url("../font/eot.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

.hieroglyphs {
  font-family: "Egyptian Text Proto", sans-serif;
  font-style: normal;
}

.signListTab::-webkit-scrollbar {
  display: none;
}

.signListTab {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.signListTabButton {
  min-width: 60px;
  text-align: center;
  color: white;
  cursor: pointer;
  border-left: solid 1px #ccc;
}

.signListTabButton:first-child {
  border-left: none;
}

.signListTabButton[data-active="true"] {
  color: black;
  background-color: #ccc;
}
