:root {
  --headerHeight: 26px;
}

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
}

body * {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  user-select: none;
}

@font-face {
  font-family: "Egyptian Text Proto";
  src: url("eot.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

.hieroglyphs {
  font-family: "Egyptian Text Proto", sans-serif;
  font-style: normal;
}

.signListTab {
  display: flex;
  flex-flow: row wrap;
  line-height: 26px;
  background-color: #444;

  -ms-overflow-style: none;
  scrollbar-width: none;
}
.signListTab::-webkit-scrollbar {
  display: none;
}

.signListTabButton {
  min-width: 60px;
  height: 26px;
  text-align: center;
  color: white;
  cursor: pointer;
  border-right: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
}

.signListTabButton:last-child {
  border-right: none;
}

.signListTabButton > span {
  color: #ddd;
}

.signListTabButton[data-active="true"] {
  color: black;
  background-color: #888;
}

.signListTabButton[data-active="true"] > span {
  color: black;
}

.signListTabButtonSpacer {
  flex-grow: 1;
  border-bottom: solid 1px #ccc;
}

.signList {
  display: flex;
  flex-flow: row wrap;
  overflow-y: scroll;
  align-content: start;
}

.signListCell {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  flex-grow: 0;
  min-height: 60px;
}

.signListCell:hover {
  background-color: #ddd;
}

.signListCellHeader {
  text-align: center;
  font-size: 16px;
  line-height: 16px;
  min-height: 16px;
}

.signListCellSign {
  font-family: "Egyptian Text Proto", sans-serif;
  min-width: 44px;
  min-height: 44px;
  font-size: 40px;
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.mainInit {
  opacity: 0;
}

.mainFadeIn {
  opacity: 1;
  transition: opacity 0.2s ease-in;
}

.seshContainer {
  color: #fff;
  position: relative;
}

.seshFadeIn {
  opacity: 1;
  transition: opacity 1s ease-in 1s;
}

.seshFadeOut {
  opacity: 0;
  transition: opacity 1s ease-out 1s;
}

.seshA {
  height: 26px;
  overflow: hidden;
}

.seshB {
  position: absolute;
  top: 0;
  left: 0;
  height: 26px;
  font-size: 20px;
  overflow: hidden;
  line-height: 26px;
  padding-top: 1px;
}

.seshBInit {
  opacity: 0;
}

.menuBar {
  display: flex;
  width: 100%;
  font-size: 16px;
}

.menuBarCategoryHeader {
  background-color: #666;
}

.menuBarCategoryHeaderInner {
  margin: 0 20px;
}

.menuBarItem {
  min-width: 40px;
  text-align: center;
  cursor: pointer;
}

.menuBarItem[data-enabled="false"] {
  cursor: not-allowed;
  color: #777;
}

.menuBarItem:hover {
  background-color: #555;
}

.menuBarItemInner {
  margin: 0 20px;
}

.header {
  display: flex;
  height: var(--headerHeight);
  line-height: 26px;
  font-size: 20px;
  padding-left: 4px;
  background-color: #444;
  color: #fff;
}

.textArea {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Egyptian Text Proto";
  width: 100%;
  height: 100%;
  font-size: 20px;
  resize: none;
  outline: none;
  border: none;
  padding: 0;
}

:root {
  --aboutWidth: 80vw;
  --aboutHeight: 80vh;
}

.about {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  margin: auto;
  cursor: pointer;
}

.aboutContent {
  position: absolute;
  width: var(--aboutWidth);
  height: var(--aboutHeight);
  left: calc((100vw - var(--aboutWidth)) / 2);
  top: calc((100vh - var(--aboutHeight)) / 2);
  background-color: white;
  border-radius: 8px;
  cursor: auto;
  overflow-y: scroll;
}

.aboutContainer {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.aboutHeader {
  color: black;
  font-weight: bold;
  user-select: text;
}

.aboutSection {
  user-select: text;
}

.aboutSpacer {
  height: 14px;
}
